@charset "utf-8";
/* CSS Document */

body{
	overflow-x: hidden;
	font-family : 'Noto Sans KR' !important;
}

.logotype{
	font-family: 'YanoljaYacheR' !important;
}

#centerAddr, #selectGeoLocation{
	cursor: pointer;
}

